html,
body {
  margin: 0;
  font-family: 'Arial';
  color: #565656;
  font-size: 14px;
}

input {
  height: 35px;
  width: 516px;
  border: none;
  font-size: 14px;
}

input[type='radio'] {
  display: inline-block;
  width: 16px;
}

.error-block {
  width: 480px;
  margin: auto;
  margin-bottom: 20px;
}

.error-text {
  color: red;
}

::placeholder {
  color: #CCC;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #CCC;
}

::-ms-input-placeholder {
  color: #CCC;
}

.field-container {
  margin-top: 20px;
}

.field-container > div :not(.birthdate-year-selector-container) {
  margin-top: 10px;
}

.enter-your-information-text {
  text-align: center;
  padding: 60px 0 20px 0;
}

.banner-my-company {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.banner-my-company > img {
  width: 182px;
}

.banner-register {
  text-align: center;
  height: 179px;
  line-height: 179px;
  font-size: 60px;
  font-family: 'Arial';
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.center-content {
  margin: auto;
  width: 516px;
  padding: 60px 20px 20px 20px;
  background-color: #f7f7f7;
}

.birthdate-selector-container {
  padding-top: 20px;
}

.birthdate-day-selector-container,
.birthdate-year-selector-container,
.birthdate-month-selector-container {
  display: inline;
}

.birthdate-day-selector-container,
.birthdate-year-selector-container,
.birthdate-month-selector-container {
  position: relative;
}

.birthdate-day-selector,
.birthdate-year-selector,
.birthdate-month-selector {
  top: 0;
  opacity: .01;
  position: absolute;
  width: 164px;
  height: 35px;
}

.birthdate-day-selector {
  margin-left: 184px;
}

.birthdate-year-selector {
  margin-left: 368px;
}

.fake-dropdown-button {
  top: 0;
  position: absolute;
  background-color: #fff;
  pointer-events: none;
  line-height: 35px;
  width: 164px;
  height: 35px;
}

.fake-dropdown-button-month {
  @extend .fake-dropdown-button;
}

.fake-dropdown-button-day {
  @extend .fake-dropdown-button;
  left: 180px;
}

.fake-dropdown-button-year {
  @extend .fake-dropdown-button;
  left: 360px;
}

.fake-dropdown-button-text {
  display: inline;
  margin-left: 10px;
}

.dropdown-arrow {
  display: inline;
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  transform: scale(1.5);
}

.phone-number-field-container {
  margin-top: 40px;
}

.phone-number-input-div {
  margin-top: 4px;
}

.radio-button-canada {
  margin-left: 16px;
}

.radio-button-usa-symbol {
  display: inline-block;
  margin-left: 6px;
  width: 50px;
}

.radio-button-canada-symbol {
  display: inline-block;
  margin-left: 6px;
  width: 50px;
}

.yes-accept-terms-container,
.yes-recieve-news-container {
  text-align: center;
  position: relative;
  width: 556px;
  text-align: left;
  margin-left: calc(50% - 215px);
}

.yes-recieve-news-container {
  margin-top: -10px;
}

.yes-accept-terms-checkbox {
  width: 30px;
  margin-top: 34px;
  display: inline-block;
}

.yes-recieve-news-checkbox {
  width: 30px;
  margin-top: 34px;
  display: inline-block;
}

.yes-accept-terms-text,
.yes-recieve-news-text {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  top: 42px;
}

.register-button {
  margin: auto;
  color: #fff;
  width: 280px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: #206fcc;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}

.tooltip {
  background-color: #206fcc;
  position: absolute;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
}

@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }
  input {
    width: 260px;
  }
  .banner-my-company > img {
    width: 140px;
    margin: auto;
  }
  .banner-register {
    font-size: 30px;
    height: 140px;
    line-height: 140px;
  }
  .center-content {
    max-width: 260px;
  }
  .birthdate-day-selector,
  .birthdate-month-selector,
  .birthdate-year-selector,
  .fake-dropdown-button {
    width: 80px;
  }
  .fake-dropdown-button-day {
    left: 90px;
  }
  .birthdate-day-selector {
    margin-left: 90px;
  }
  .birthdate-year-selector {
    margin-left: 180px;
  }
  .fake-dropdown-button-year {
    left: 180px;
  }
  .tooltip {
    width: 243px;
  }
  .error-block {
    width: 260px;
  }
  .yes-accept-terms-container,
  .yes-recieve-news-container {
    width: 270px;
    margin: auto;
  }
  .enter-your-information-text {
    padding: 30px 0 30px 0;
  }

}
